NEXT_PUBLIC_SITE_URL=https://thalir.example.org
NEXT_PUBLIC_ANALYTICS_ENABLED=false
NEXT_PUBLIC_CONTENT_APPROVED=false
NEXT_PUBLIC_PRIVACY_COPY_APPROVED=false
NEXT_PUBLIC_CONTACT_EMAIL=hello@thinkkerala.org
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/think_kerala2047/
NEXT_PUBLIC_FACEBOOK_URL=https://www.facebook.com/profile.php?id=100091605977633
NEXT_PUBLIC_YOUTUBE_URL=https://www.youtube.com/channel/UCy_t_YnGt43rRVrTjtLMiPw
NEXT_PUBLIC_FOUNDER_FORM_URL=
NEXT_PUBLIC_INVESTOR_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSexOiGnq8Q47_eoGqHyWi_lWZ_2N0OSTONDGWKSfvzQK3GpFg/viewform?usp=publish-editor
NEXT_PUBLIC_MENTOR_FORM_URL=
NEXT_PUBLIC_INSTITUTION_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSexOiGnq8Q47_eoGqHyWi_lWZ_2N0OSTONDGWKSfvzQK3GpFg/viewform?usp=publish-editor
NEXT_PUBLIC_PARTNER_FORM_URL=
